<!DOCTYPE html>
<%- include('./organisms/html.ejs'); %>
<body data-theme="theme-light" class="<% for (var i = 0; i < page.classes.length; i++) {%><%= page.classes[i] %><%}%>">
    <%- include('./organisms/site-header.ejs'); %>
    <%- hero %>
    <main>
      <%- body %>
    </main>
    <%- include('./organisms/site-footer.ejs'); %>
    <%- include('./organisms/scripts.ejs'); %>
</body>
</html>